*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background: linear-gradient(#341f97, #222f3e);
    font-family: 'Mulish', sans-serif;
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

header .header__logo--img img {
    width: 200px;
    margin-left: 30px;
    cursor: pointer;
}

header .header__user--div {
    display: flex;
    align-items: center;
}

header .user__div--icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

header .user__div--profile {
    font-size: 18px;
    cursor: pointer;
    margin-right: 30px;
    font-style: normal;
    font-weight: 500;
    color: white;
}

header .user__div--profile:visited {
    color: #576574;
}

header .header__user:hover ul, ul:hover {
    display: block;
}

header .header__nav--li {
    list-style: none;
    display: none;
    position: absolute;
    font-size: 15px;
    width: 100px;
    text-align: right;
    margin-left: -7px;
}

.header__nav--li li a {
    text-decoration: none;
    color: white;
}

.header__nav--li li a:hover {
    text-decoration: underline;
}

.header__nav--li li a:visited {
    color: #c8d6e5;
}

.header__line--span {
    width: 50%;
    margin: 0 auto;
    border-bottom: 2px white solid;
}

main {
    width: 100%;
}

main .main__section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

main .main__section1 .main__section1--what {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

main .main__section1 .main__section1--input {
    outline: none;
    width: 70%;
    max-width: 1000px;
    border: 2px white solid;
    color: white;
    height: 40px;
    font-size: 18px;
    padding: 0 20px;
    background-color: #5f27cd00;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

main .main__section2--tittle, main .main__section3--tittle {
    width: 80%;
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 40px;
}

main .main__section2, main .main__section3 {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin-bottom: 40px;
}

main .main__section2 .main__section2--img, main .main__section3 .main__section3--img {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    height: 250px;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    transition: 400ms all;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

main .main__section2 .main__section2--img:hover ~ .main__section2--img, main .main__section3 .main__section3--img:hover ~ .main__section3--img {
    transform: translate3d(50px, 0, 0);
}

main .main__section2:hover .main__section2--img:hover, main .main__section3:hover .main__section3--img:hover {
    transform: scale(1.5);
    opacity: 1;
    margin-left: 55px;
}

main .main__section2:hover .main__section2--img, main .main__section3:hover .main__section3--img {
    opacity: 0.3;
}

main .main__section2 .main__section2--img img, main .main__section3 .main__section3--img img {
    width: 180px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
}

.main__section2 .main__section2--img div, .main__section3 .main__section3--img div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    background: linear-gradient(#351f9700, #000000);
}

.main__section2 .main__section2--img div img, .main__section3 .main__section3--img div img {
    width: 28px;
    height: 28px;
    margin: 3px;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}


.main__section2 .main__section2--img div p, .main__section3 .main__section3--img div p {
    font-size: 17px;
    font-weight: 500;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.header__line--ad1 {
    width: 50%;
    margin: 0 auto;
    border-bottom: 2px white solid;
    margin-top: 80px;
    margin-bottom: 80px;
}

main .main__section4--tittle {
    width: 80%;
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 40px;
}

main .main__section4 {
    height: 500px;
}

main .main__section4 .main__section4--background {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

main .main__section4 .main__section4--background .main__section4--promo img {
    width: 550px;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.8);
}

.main__section4 .main__section4--background .main__section4--text {
    width: 650px;
    min-width: 350px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.main__section4 .main__section4--background .main__section4--text .section4--promo-p {
    font-size: 70px;
    font-weight: bold;
    color: white;
}

.main__section4 .main__section4--background .main__section4--text .section4--promo-botton {
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding: 10px;
    align-self: center;
    width: 160px;
    margin-top: 50px;
    background-color: #00000000;
    border: 2px white solid;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.main__section4 .main__section4--background .main__section4--text .section4--promo-botton a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.main__section4 .main__section4--background .main__section4--text .section4--promo-botton:hover {
    scale: 1.1;
}

.header__line--ad2 {
    width: 50%;
    margin: 0 auto;
    border-bottom: 2px white solid;
    margin-bottom: 100px;
}

main .main__section5--tittle{
    width: 80%;
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 40px;
}

main .main__section5 {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin-bottom: 40px;
}

main .main__section5 .main__section5--img {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    height: 250px;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    transition: 400ms all;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

main .main__section5 .main__section5--img:hover ~ .main__section5--img {
    transform: translate3d(50px, 0, 0);
}

main .main__section5:hover .main__section5--img:hover {
    transform: scale(1.5);
    opacity: 1;
    margin-left: 55px;
}

main .main__section5:hover .main__section5--img {
    opacity: 0.3;
}

main .main__section5 .main__section5--img img {
    width: 180px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
}

.main__section5 .main__section5--img div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    background: linear-gradient(#351f9700, #000000);
}

.main__section5 .main__section5--img div img {
    width: 28px;
    height: 28px;
    margin: 3px;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}


.main__section5 .main__section5--img div p {
    font-size: 17px;
    font-weight: 500;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

main .main__section6 {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    margin-top: 80px;
}

main .main__section6 .main__section6--terms a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-left: 80px;
    text-decoration: none;
}

main .main__section6 .main__section6--privacy a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    text-decoration: none;
}

main .main__section6 .main__sction6--help a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    text-decoration: none;
}

main .main__section6 p a:hover {
    text-decoration: underline;
}